*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: gray;
  color: white;
  padding: 10px;
}
.nav a {
  color: white;
  text-decoration: none;
  padding: 10px;
  margin: 5px;
  
}
.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}



@media (max-width: 1024px){
  
  .nav {
    overflow: scroll;
  }
  .nav a {
    background: red;
  }
  
  
}